@import "../Vars.scss";

*{
    font-family: $theme-font;
}
.Main{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 20px;
    height: 100%;
    padding-left: 30px;
    padding-right: 30px;
    background-color: $color-Black-Primary;
    margin-top: 52px;
    
}
.program{
    grid-column-start: 1;
    grid-column-end: 9;
    height: auto ;
}

.program__videoplayer{
    background-color: tan;
    height: 566px;
    border-radius: 20px;
    margin-bottom: 20px;


}

.program__desciption{
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(3,auto);
    column-gap: 20px;
    margin-bottom: 50px;

}

.program__desciption--title-Icons{
    grid-column-start: 1;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 2;
    display: flex;
    justify-content: space-between;
}
.program__desciption--title{
    font-size: 30px;
    color: $color-Third;
    font-family: $theme-font;
    font-weight: 600;
}
.program__desciption--Icons{
    width: 150px;
    height: 30px;
    display: flex;
    justify-content: space-around;
    
}
.program__desciption--Icons--like{
    width: 30px;
    height: 30px;
}

.program__desciption--Icons--like img{
    width: 30px;
    height: 30px;
}
.program__desciption--Icons--favs{
    width: 30px;
    height: 30px;}
.program__desciption--Icons--favs img{
    width: 30px;
    height: 30px;
}
.program__desciption--Icons--comments{
    width: 30px;
    height: 30px;
}
.program__desciption--Icons--comments img{
    width: 30px;
    height: 30px; 
}
.program__desciption--info{
    grid-column-start: 1;
    grid-column-end: 9;
    grid-row-start: 2;
    grid-row-end: 3;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    column-gap: 20px;
    font-family: $theme-font;
}
.program__desciption--info--time{
    grid-column-start: 1;
    grid-column-end: 2;
    color: $color-Third;
    font-size: 16px;
}
.program__desciption--info--coach{
    grid-column-start: 2;
    grid-column-end: 3;
    color: $color-Third;
    font-size: 16px;
}
.program__desciption--info--equipament{
    grid-column-start: 3;
    grid-column-end: 5;
    color: $color-Third;
    font-size: 16px;
}

.program__desciption--description{
    grid-column-start: 1;
    grid-column-end: 9;
    grid-row-start: 3;
    grid-row-end: 4;
    margin-top: 30px;
    height: auto;
    font-family: $theme-font;
    color: $white;
    font-weight: 400;
}
.program__desciption--title p{
    color: $white;
    font-size: 14px;
}

.weeks__container{
    // background-color: steelblue;

}


.weeks__container__week1{
    background-image: $Linear-Gradient-3-V;
    padding-top: 17px;
    border-radius: 20px;
    margin-bottom: 15px;

}

.weeks__container__titles{
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    column-gap: 20px;
    width: 100%;
    height: 30px;

}


.weeks__container-week1__titles--title{
    grid-column-start: 4;
    grid-column-end: 6;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    color: $white;
    font-size: 30px;
    font-weight: 600;    
}

.weeks__container-week1__titles__episodes{
    grid-column-start: 7;
    grid-column-end: 9;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    color:  $White-60;
    
}
.weeks__container-week1__titles__episodes--tx{
    margin-right: 20px;
}


.weeks__container-week1__titles__episodes--triangle--btn{
    width: 0;
    height: 0;
    margin: auto;
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
    border-bottom: 8px solid $White-60;
}


.weeks__container-week1__titles__episodes--triangle-closed--btn{
    width: 0;
    height: 0;
    margin: auto;
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
    border-top: 8px solid $White-60;
}
.weeks__container-week1__videosContainer{
    width: 100%;
    height: auto;
    padding-top: 50px;
    display: flex;
    flex-wrap: wrap;
}

.weeks__container-week1__videosContainer__card{
    background-image: url(../../assets/static//imgRef.jpg); 
    object-fit: cover;
    width: 203px;
    height: 230px;
    border-radius: 20px;
    display: flex;
    flex-direction: column-reverse;
    padding-bottom: 19px;
    margin-bottom: 33px;
    margin-left: 20px;
}

.weeks__container-week1__videosContaine__card-container{
    margin-left: 16px;
    font-size: 10px;
 
}
.weeks__container-week1__videosContaine__card-container--title{
    color: $white;
}
.weeks__container-week1__videosContaine__card-container--time{
    color: $White-60;
}

.weeks__container__weeks{
    background: $Linear-Gradient-3-h;
    height: 74px;
    margin-bottom: 15px;
    border-radius: 20px;
    display: flex;
    align-items: center;
 

}





.tutorials{
    grid-column-start: 9;
    grid-column-end: 13;
    
}

.tutorials_container-expand{
    background-image: $Linear_gradient-4-V;
    width: 100%;
    height: auto;
    border-radius: 20px;
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 33px;
}

.tutorials_container-expand__titles{
    display: flex;
    justify-content: space-between;
    margin-bottom: 32px;
}
.tutorials_container-expand__titles--p{
    color: $white;
    font-size: 20px;
    font-weight: 600;
}
.tutorials_container-expand__titles--classes{
    display: flex;
}

.tutorials_container-expand__titles--classes--p{
    color: $White-60;
    font-size: 16px;
    font-weight: 400;
    margin-right: 20px;
}
.tutorials_container-expand__titles--classes--triangle{
    display: flex;
    align-items: center;
}
.tutorials_container-expand__titles--classes--triangle--btn{
    width: 0;
    height: 0;
    margin: auto;
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
    border-bottom: 8px solid $White-60;
}
.tutorials_container-expand__card-Container{
    height: 574px;
}

.tutorials_container-expand__card{
    background-color: $color-black;
    border-radius: 20px;
    height: 96;
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.tutorials_container-expand__card--img{
    background-color: papayawhip;
    border-radius: 20px;
    width: 96px;
    height: 96px;
    margin-right: 23px;
}
.tutorials_container-expand__card__info{
    display: flex;
    flex-direction:column;
}
.tutorials_container-expand__card__info--name{
    font-size: 16px;
    font-weight: 600;
    color: $white;

}
.tutorials_container-expand__card__info--time{
    color: $White-60;
}



.tutorials_container-close{
background-color: $color-Secondary;
width: 100%;
height: 94px;
border-radius: 20px;
margin-bottom: 20px;
padding-left: 35px;
padding-right: 35px;
padding-top: 33px;

}

.tutorials_container-close__titles{
    display: flex;
    justify-content: space-between;
}
.tutorials_container-close__titles--p{
    color: $white;
    font-size: 20px;
    font-weight: 600;
}


.tutorials_container-close__titles--classes{
    display: flex;
    align-items: center;


}
.tutorials_container-close__titles--classes--p{
    color: $White-60;
    font-size: 16px;
    font-weight: 400;
    margin-right: 20px;

}
.tutorials_container-close__titles--classes--triangle{
    display: flex;
    align-items: center;
}
.tutorials_container-close__titles--classes--triangle--btn{
    width: 0;
    height: 0;
    margin: auto;
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
    border-top: 8px solid $White-60;
}








