@import '../Vars.scss';

@media screen and (min-width: 1440px) {
  .Home {
    display: grid;
    justify-items: center;
    margin: 40px 30px;
    color: white;
  }
  .Hero,
  .Categories,
  .Populars {
    // margin: 0 110px;
    padding: 0 110px;
  }

  .hero {
    height: 820px;
    display: grid;
    grid-gap: 140px;
    grid-auto-flow: column;
    grid-template-columns: 1fr 1fr;

    align-content: center;
    justify-items: center;
    margin-bottom: 60px;
    padding: 0 110px;
  }
  .slider {
    width: 630.02px;
    height: 508.61px;
  }
  .copy {
    align-self: center;
  }
  .copy h1 {
    font: 800 81px/120% Poppins;
    margin: 22px 0;
  }

  // .copy > p {
  //   /*! width: ; */
  //   width: 406.3px;
  //   font-size: 15.5px;
  //   font-family: Poppins;
  //   font-weight: 500;
  //   line-height: 130&;
  //   margin: 22px 0;
  //   align-self: center;
  // }
  .copy small {
    margin: 28px 0;
  }
  .copy svg {
    margin: 0 7px;
  }
  .copy p,
  small {
    display: flex;
    justify-content: space-between;
    width: 420px;
    font: 400 16px / 24px Poppins;
    color: white;
    opacity: 0.8;
  }
  .copy > button:nth-child(4) {
    width: 187.5px;
    height: 50.29px;
    background: linear-gradient(90deg, #6746ee 0%, #b363a7 100%);
    border-radius: 20px;
    border: unset;
    color: white;
    font: 600 20px / 120% Poppins;
  }
  .Categories {
    &__List {
      grid-template-columns: repeat(4, 292px);
      grid-auto-rows: minmax(140px, auto);
      display: grid;
      grid-gap: 18px;
      justify-content: space-between;
    }
    &__title {
      color: white;
      font: 600 35px/52px Poppins;
      width: 526.56px;
      margin-bottom: 60px;
    }
    &__filter {
      min-width: 270.11px;
      min-height: 140.8px;
      background-color: white;
      background: linear-gradient(90deg, #6746ee 0%, #b363a7 100%);
      border-radius: 20px;
    }
  }

  .Populars {
    background-color: #141414;
    padding-top: 55px;
    padding-bottom: 110px;
    &__title {
      font: 600 35px/52px Poppins;
    }
    &__List {
      display: grid;
      grid-auto-rows: minmax(188px, auto);
      grid-template-columns: repeat(3, 368px);

      grid-gap: 60px;
    }
    &__card {
      border-radius: 20px;
      background-color: white;
    }
  }
  .slider {
    background: gray;
    opacity: 0.4;
  }
  .--principal {
    height: 270.77px;
  }
  .--span2 {
    grid-column: span 2;
  }
}
