@import "../Vars.scss";

.main-login {
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(to bottom, $color-primary, $color-Secondary);
    display: flex;
    justify-content: center;
    align-items: center;
  }

.login{
    border: 2px solid $white;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 540px;
    width: 353px;
}
.login__container{
    text-align: center;
    font-size: 30px;
    color: $white;
    margin-top: 48px;
    margin-bottom: 42px;
    font-family: $theme-font;
}
.login__container__from{
    display: flex;
    flex-direction: column;
    width: 278px;
}

.login__container__form--input{
    width: 278px;
    height: 38px;
    border: 1.5px solid $white;
    border-radius: 20px;
    padding: 0;
    text-align: center;
    background-color: transparent;
    color: white;
    margin-bottom: 28px;
}

.login__container__form--input::placeholder{
    color: $White-60;
}
.login__container__form--input:focus{
    border: 1px solid $color-Third;
    outline: none;
}
.login__container__form--input:hover{
    cursor: pointer;
    border: 1px solid $color-Third;
}

.login__container__form--btn{
    width: 278px;
    height: 38px;
    border: none;
    border-radius: 20px;
    background-color: $color-Third ;
    color: $white;
    margin-bottom: 43px ;
}

.login__container__form--btn:hover{
    cursor: pointer;
    border: 1px solid $white;
}

.login__container__RF{
    display: flex;
    justify-content: space-between;
}

.login__container__RF--ForgotPass a{
    text-decoration: none;
    color: $white;
    font-family: $theme-font;

}


.login__container__RF--remember-me label{
    color: $white;
    font-family: $theme-font;
}
.login__container__RF--remember-me label:hover{
    cursor: pointer;
    color: $color-Third;
}


.login__container__RF--ForgotPass a:hover{
    cursor: pointer;
    color: $color-Third;
}


.login__container_login-SM{
    margin-top: 21px;
}
.login__container_login-SM__Twiiter{
    display: flex;
    margin-bottom: 14px;
    text-decoration: none;
    font-family: $theme-font;

}
.login__container_login-SM__Twiiter p{
    margin-left: 8px;
    color: $white;
}

.login__container_login-SM__Twiiter--icon{
    width: 17px;
    height: 17px;
}
.login__container_login-SM__Twiiter--icon img{
    width: 17px;
    height: 17px;
}

.login__container_login-SM__google{
    display: flex;
    text-decoration: none;
    font-family: $theme-font;
}
.login__container_login-SM__google p{
    margin-left: 8px;
    color: $white;
}
.login__container_login-SM__google--icon{
    width: 17px;
    height: 17px;
}
.login__container_login-SM__google--icon img{
    width: 17px;
    height: 17px;
}
.login__container__register{
    margin-top: 45px;
    color: $white;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: $theme-font;
}
.login__container__register a{
    text-decoration: none;
    color: $white;
}
.login__container__register a:hover{
    text-decoration: none;
    color: $color-Third;
}