@media screen and (min-width: 320px ) {
 :root {
    /*fonts */
    --font-sans: 'DM Sans', sans-serif;
    --font-inter: 'Inter', sans-serif;
    /*weight*/

    --size-300: 300;
    --size-400: 400;
    --size-500: 500;
    --size-700: 700;

    /* size */
    --text1x: 16pt;
    --text2x: 16pt;
    --text3x: 16pt;

    /* -Colors */
    --background: #e5e5e5;
    --black: #201e1c;
    --gray: #bababa;
    --off-white: #faf8f7;
    --just-white: #ffffff;

    /* -Spacing */
    --Space1b: 1rem;
    --Space2b: 1rem 2rem;
  }
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  body {
    display: grid;
    justify-content: center;
    background-color: #f2f2f2;
  }
}