@import url(https://fonts.google.com/specimen/Poppins?query=popp&preview.text_type=custom&sidebar.open=true&selection.family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900);
$theme-font: 'Source Sans Pro', sans-serif;
$main-font: 'Poppins', sans-serif;

$color-black: #1f1f1f;
$color-Black-Primary: #080808;
$color-primary: #6746ee;
$color-Secondary: #b363a7;
$color-Third: #f8bd2c;
$White-60: rgba(255, 255, 255, 0.6);
$white: white;
$Linear-Gradient-3-V:  linear-gradient(to bottom, $color-primary, $color-Secondary);